
@import '../colors';

.flash .landing {
  .signin-arrow {
    color: $foreground-3;
    position: absolute;
    right: 20px;
    top: 60px;
    font-size: 2em;
    i {
      font-size: 2em;
    }
    span, i {
      display: inline;
      vertical-align: middle;
    }
  }
}
