.flash-app-container {
  .page-container {
    .page-content {
      @media (max-width: 799px) {
        padding: 5px;
      }
      @media (min-width: 800px) {
        padding: 20px;
      }
    }
  }

  .page-container-fill-height {
    height: 100%;
    display: flex;
    flex-direction: column;
    .page-content {
      flex-grow: 1;
    }
  }
}
