
.edit-card-side-view {
  display: flex;
  flex-direction: column;

  > h2, textarea, div {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  > .media {
    display: flex;
    > input {
      flex-grow: 1;
    }
    > .attachment > img {
      max-height: 100px;
    }
    > .attachment > .delete {
      cursor: pointer;
    }
    > span {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
