
@import '../styles/colors.scss';

.flash .landing {
  .signin-arrow {
    color: $primary;
    position: absolute;
    right: 10px;
    top: 60px;
    font-size: 2em;
    i {
      font-size: 3em;
    }
    span, i {
      display: inline;
      vertical-align: middle;
    }
  }
}
