
$background-0: #000000;
$background-1: #212121;
$background-2: #303030;
$background-3: #424242;
$foreground-0: #808080;
$foreground-1: #BFBFBF;
$foreground-2: #E6E6E6;
$foreground-3: #FFFFFF;

$primary: #E93369;
$secondary: #08C9FF;
