
body {
  padding: 10px;
}

.flash {
  .pop {
    color: #ef5350;
  }

  .header {
    color: #ef5350;
    font-weight: 300;
  }

  .list {
    li {
      width: 100%;
    }

    .bullet {
      color: #ef5350;
      display: inline;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .flash-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  a.btn i {
    margin-right: 5px;
  }
}
