@import './colors';

html, body {
  margin: 0;
  padding: 0;
  background-color: $background-1;
  color: $foreground-2;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2px;
  height: 100%;

  // desktop
  @media (min-width: 800px) {
    font-size: 24px;
  }

  // mobile
  @media (max-width: 799px) {
    font-size: 14px;
  }
}

.flash-app-container, .flash {
  height: 100%;
}

.flash {

  h1 {
    // desktop
    @media (min-width: 800px) {
      font-size: 72px;
    }

    // mobile
    @media (max-width: 799px) {
      font-size: 48px;
    }
  }

  h2 {
    // desktop
    @media (min-width: 800px) {
      font-size: 36px;
    }

    // mobile
    @media (max-width: 799px) {
      font-size: 24px;
    }

  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: $foreground-2;
    margin: 0;
  }

  .pop {
    color: $primary;
  }

  button, a.button {
    margin: 10px 5px;
    cursor: pointer;
    background-color: $primary;
    border: 0;
    border-radius: 10px 5px 10px 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    color: $foreground-2;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    outline: none;
    @media (min-width: 800px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    @media (max-width: 799px) {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  button.primary, a.button.primary {
    background-color: $secondary;
  }

  button:hover, a.button:hover {
    background-color: $primary-darken-2;
  }

  button.primary:hover, a.button.primary:hover {
    background-color: $secondary-darken-2;
  }

  button:focus, a.button:focus {
    border-bottom: 2px solid $foreground-2;
  }

  button.icon {
    background-color: $background-1;
    border: 0px;
    color: $foreground-2;
    cursor: pointer;
  }

  textarea {
    background-color: $background-2;
    color: $foreground-2;
    border: 0px;
    border-bottom: 1px solid $foreground-2;
    resize: none;
    font-size: 100%;
    padding: 5px;
  }
  textarea:focus {
    outline: none;
    border-bottom: 1px solid $primary;
  }

  input[type=file] {
    outline: none;
    padding-bottom: 5px;
    cursor: pointer;
  }
  input[type=file]:focus {
    border-bottom: 1px solid $primary;
  }

}
